/* You can add global styles to this file, and also import other style files */

@import '~normalize.css/normalize.css'; // full path or StackBlitz gives errors
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Bungee');
body {
    font-family: 'Nunito', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Bungee', sans-serif;
    font-weight: 400;
}

h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}
